@model List<ASP.Blog.BLL.ViewModels.UserViewModel>

@using ASP.Blog.Data.Entities;
@using Microsoft.AspNetCore.Identity;
@using ASP.Blog.BLL.ViewModels;
@inject SignInManager<User> SignInManager;
@inject UserManager<User> UserManager;


@{
    ViewData["Title"] = "Пользователи";
}

<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.10/jquery.validate.unobtrusive.min.js"></script>

@*<h2></h2>*@

<div>    
    @if (SignInManager.IsSignedIn(User))
    {
        <h4>Пользователи</h4>
        @foreach(var user in Model)
        {
            <div class="article-block">
                <hr>
                <span>ФИО: @user.First_Name @user.Middle_Name @user.Last_Name</span>
                <span>Email: @user.Email</span>
                <a method="get" asp-action="Update" asp-route-userId="@user.Id">Редактировать пользователя</a>
                <form method="post" asp-controller="User" asp-action="Delete" asp-route-userId=@user.Id>
                    <input class="enter_submit" type="submit" value="Удалить пользователя" />
                </form>
            </div>
        }
        <div>
            <hr>
            <form method="get" asp-controller="User" asp-action="AddUser">
                <input type="submit" value="Добавить пользователя" />
            </form>
            <hr>
        </div>
    }
</div>
