@model ASP.Blog.BLL.ViewModels.Article.ArticleViewModel

@using ASP.Blog.Data.Entities;
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<User> SignInManager;
@inject UserManager<User> UserManager;


@{
    ViewData["Title"] = "Добавление статьи";
}

<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.10/jquery.validate.unobtrusive.min.js"></script>

<h2>Редактирование статьи</h2>
<div>    
    @if (SignInManager.IsSignedIn(User))
    {
        <form method="post" asp-controller="Article" asp-action="Update" >
            @foreach (var tag in Model.CheckedTagsDic)
            {
                if(tag.Value == true)
                {
                    <input type="checkbox" name="SelectedTags" checked="checked" value=@tag.Key.ID />
                }
                else
                {
                    <input type="checkbox" name="SelectedTags" value=@tag.Key.ID />
                }
                <label> @tag.Key.Tag_Name</label>
            }
            <span >Автор: @Model.User.First_Name @Model.User.Last_Name</span>
            <div class="article-block">
                <input class="form-control" asp-for="Id" hidden />
                <input class="form-control" asp-for="User" hidden />
@*                <label asp-for="Id">@Model.Id</label>
                <label asp-for="User">@Model.User</label>
*@                
                <textarea class="textarea" placeholder="Текст статьи" asp-for="Content">@Model.Content</textarea>
            <div>
                <input type="submit" value="Сохранить"/>
            </div>
        </form>
    }
    else
    {
        <h4>Статью может редактировать авторизованный пользователь.</h4>
        <h6>Войдите или зарегистрируйтесь.</h6>
    }
</div>
